<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../public/style.css">
    <title>Azerrisk</title>
</head>
<body>
    <header>
        <div>
            <a href="/">Accueil</a>
            <a href="/movies">Films</a>
            &nbsp;
            <a href="/movie-search">Recherche de film</a>
            &nbsp;
            <span id="connectionLink"><a href="/login">Se connecter</a></span>
        </div>
    </header>
